{{!< default}}
{{> navigation}}
{{> title}}

<main class="main_ynote" role="main">

{{> posts}}

    <div class="pagination_ynote">
        {{#if pagination}}
            {{{pagination}}}
        {{/if}}
    </div> <!-- end of pagination_ynote -->

</main> <!-- end of main_ynote -->

{{> footer}}